html,
body {
    height: 100%;
    background: #f7f7f7 url(/images/bg.jpg) repeat 0 0;
    font-family: Open Sans, sans-serif;
}

h1 {
    padding: 0;
    margin: 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-info-phone {
    margin: 16px 0 0 3%;
    text-align: center;
    float: left;
    line-height: 17px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
}

a, a:focus, a:hover {
    color: #04859d;
}

.navbar {
    box-shadow: 0 -8px 20px;
    background-color: #fff;
}

.navbar-brand {
    padding: 3px;
}

.menu-item-actions {
    background: transparent url(/images/menu/1.jpg) no-repeat 0 0;
}

.menu-item-delivery {
    background: transparent url(/images/menu/2.jpg) no-repeat 0 0;
}

.menu-item-consultations {
    background: transparent url(/images/menu/3.jpg) no-repeat 0 0;
}

.menu-item-sales {
    background: transparent url(/images/menu/4.jpg) no-repeat 0 0;
}

.menu-item a {
    width: 250px;
    height: 80px;
    display: block;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-60 {
    margin-top: 60px;
}

.font-14 {
    font-size: 14PT;
}

.carousel-container {
    padding: 60px 0 0 0;
    margin-top: -10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.carousel-container img {
    margin: 0 auto;
}

.carousel-indicators li {
    border: 1px solid #999;
}

.carousel-indicators .active {
    background-color: #999;
}

.page-title-container {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 2px 0;
    width: 50%;
    margin: 0 auto 22px auto;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

.main-page-container {
    padding: 0 22px 22px 22px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.main-page-container .panel {
    height: 155px;
}

.page-container {
    padding: 22px;
    border: 1px solid #ddd;
    color: #000;
    background-color: #fff;
    margin-bottom: 15px;
}

.main-page-price {
    font-size: 51px;
    font-weight: bold;
}

.main-page-title-container {
    padding: 60px 0 0 0;
}

.main-page-title {
    text-align: center;
    background: transparent url(/images/block-bg.jpg) repeat 0 0;
    font-size: 26px;
    height: 67px;
    color: #fff;
    padding: 13px 0 0 0;
    font-weight: bold;
}

.main-page-product-title {
    height: 50px;
    line-height: 22px;
}

.main-page-block-title {
    font-size: 34px;
    margin: 25px auto 10px auto;
    max-width: 600px;
}

.map iframe {
    width: 100%;
}

.main-page-discount {
    font-size: 20px;
    padding: 0 0 10px 0;
    font-weight: bold;
}

.ruble {
    height: 25px;
    margin-top: -25px;
}

.component-amount input {
    width: 50px;
    margin: 0 3px;
    display: inline;
    text-align: center;
}

.shop-container table.table td {
    vertical-align: middle;
}

.history {
    padding: 0 50px 50px 50px;
}

.content-padding {
    margin: 20px 0 0 0;
}

.success .input-amount {
    font-weight: bold;
    font-size: 16px;
}

body .navbar-nav li.cart a {
    color: green;
}

.cart-amount {
    margin-top: -1px;
    padding-bottom: 2px;
    font-size: 10px;
}

.navbar .navbar-collapse {
    margin-left: 145px;
}

.component-amount {
    min-width: 105px;
}

#products-grid-filters {
    display: none;
}